<!-- Footer  Start  Here -->
    <div class="footer-clean">
      <footer>
        <div class="container">
          <div class="row justify-content-center">

            <!-- Navigation menu / Footer item(s) -->
            <div class="col-sm-4 col-md-5 item">
              <h3>Menu de Navigacion | Navigation Menu</h3>
              <ul>
                <li><a href="/products">Productos | Products</a></li>
                <li><a href="/ourstory">Nuestra Historia | Our Story</a></li>
                <li><a href="/contact">Contactos | Contact</a></li>
                <li><a href="/login">Connectar | Login</a></li>
              </ul>
            </div>

            <!-- Social Media Links with Social-Icon -->
            <div class="col-lg-5 item social">
              <a href="#"><i class="icon ion-social-facebook"></i></a>
              <a href="#"><i class="icon ion-social-instagram"></i></a>
              <a href="#"><i class="icon ion-social-twitter"></i></a>

              <!-- Copyright, Name and Date -->
              <p class="copyright">© Parota Del Carmen | 2021</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Footer End Here -->

    <!-- JQuery.min.js script loading for footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Boostrap.min.js script loading for footer -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
